<!DOCTYPE html>
<html>
<head>
  <title>Flixter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<body>

  <div id="wrap">
    <nav class="navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false", class="btn btn-danger">
            <span class="glyphicon glyphicon-menu-hamburger white"></span>
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a><%= link_to 'Flixter', root_path, class: 'navbar-brand' %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'See all courses', courses_path, class: 'white' %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right pull-right">

          <% if user_signed_in? %>
            <li><%= link_to 'My Dashboard', dashboard_path, class: 'white' %></li> 
            <li><%= link_to 'Log out', destroy_user_session_path, class: 'white', method: :delete %></li>
          <% else %>
            <li><%= link_to 'Log in', new_user_session_path, class: 'white' %></li>
          <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

</div>
  <br class="clr" />  

  <div id="footer">
    <div class="container">
      <div class="col-xs-12 col-sm-3">
        <b>Teachers</b>
        <br />
        <%= link_to 'Teach a Course', new_instructor_course_path %>
        <br />
        <%= link_to 'My Dashboard', dashboard_path %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <b>About</b>
        <%= link_to 'Privacy Policy', privacy_path %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <b>Contact</b>
        <br />
        efe_santos@hotmail.com
      </div>
      <div class="col-xs-12 col-sm-3 social">
        <b>Social</b>
        <br />
        <br />
        <%= link_to 'http://github.com/efesantos' do %>
          <%= image_tag 'github.png', class: 'social-button' %>
        <% end %>
        <%= link_to 'https://www.linkedin.com/in/elmer-santos-07b76837' do %>
          <%= image_tag 'linkedin.png', class: 'social-button' %>
        <% end %>
      </div>
    </div>
  </div>

</body>
</html>
